@use '../../shared-landing-styles';

.links{
  display: flex;
  flex-direction: row;
  text-align: center;
  width:100%;
  font-size: 18px;
  gap: 10px;
  margin-top: 20px;
  justify-content: center;
  animation: fadeIn ease-in-out 1s forwards;
  >a{
    padding: 10px 15px;
    border-radius: 30px;
    text-decoration: none;
    color: #797EF3 ;
    border: 1px solid transparent;
    &:hover{
      color: #444df4;
      border: 1px solid #797EF3;
      transition: 150ms ease-in-out !important;
      font-weight: 500;
    }
  }
}