header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;

    @media(max-width:600px) {
        padding: 0;
    }

    @media(max-width:460px) {
        height: 100px;
        margin-top: -10px;
    }
}

h2 {
    margin: 0;
    font-weight: 700;
    font-size: 24px;
    color: white;
}

.search-bar-contain {
    display: flex;
    align-items: center;
    background-color: white;
    flex: 1 1 auto;
    box-shadow: 0px 2px 10px 0px #00000014 !important;
    height: 70px;
    border-radius: 42px;
    cursor: url('/assets/img/search_cursor.png'), auto;
    min-width: 318px;

    @media(max-width:1550px) {
        transform: scale(0.9);
    }

    &:hover {
        box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.1) !important;
    }
}

input {
    width: 100%;
    height: 33px;
    margin-left: 45px;
    border: none;
    outline: none;
    font-size: 24px;
    font-weight: 400;
    cursor: url('/assets/img/search_cursor.png'), auto;
}

.search-icon {
    font-size: 35px !important;
    width: 40px !important;
    height: 40px !important;
    color: #686868;
    margin-right: 45px;
    cursor: url('/assets/img/search_cursor.png'), auto !important;
}

.img-contain {
    min-width: 366px;

    @media(max-width:1550px) {
        min-width: unset;
    }

    @media(max-width:1200px) {
        min-width: 260px;
    }

    @media(max-width:1020px) {
        min-width: unset;
        width: 100%;
    }

    @media(max-width:600px) {
        width: 100%;
        margin-bottom: -8px;
    }

    @media(max-width:500px) {
        width: 100%;

        img {
            width: 190px;
        }
    }

    @media(max-width:360px) {
        display: flex;
        justify-content: flex-start;
        align-items: center;

        img {
            width: 140px;
        }
    }
}

.img-contain-responsive {
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: 700;
    width: 100%;
    cursor: pointer;

    .arrow-left {
        pointer-events: none !important;
    }

    @media(max-width:360px) {
        font-size: 18px;
    }

    img {
        width: 70px;
        height: 70px;
        border-radius: 100%;

        @media(max-width:360px) {
            width: 50px;
            height: 50px;
        }
    }

    span {
        padding-left: 10px;
    }
}

.profile-img-wrapper {
    position: relative;

    @media(max-width:460px) {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    div {
        position: absolute;
        bottom: 4px;
        right: 4px;
        border: 2px solid #ECEEFE;
        width: 17px;
        height: 17px;
        border-radius: 100%;

        @media(max-width:360px) {
            width: 12px;
            height: 12px;
            bottom: 7px;
            right: 4px;
            border: 1px solid #ECEEFE;
        }
    }
}

.username-menu-contain-header {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 20px;
    transition: font-weight 2s ease;
    width: 100%;

    @media(max-width:1020px) {
        gap: 10px;
    }

    img {
        object-fit: cover;
        object-position: top;
        width: 70px;
        height: 70px;
        border-radius: 100%;

        @media(max-width:360px) {
            width: 50px;
            height: 50px;
        }
    }

    .profile-menu-icon {
        font-size: 30px !important;
        height: 40px !important;
        width: 40px !important;
        color: black !important;
        background-color: transparent;
        padding-right: 16px;

        @media(max-width:1020px) {
            padding-right: 0;
        }

        @media(max-width:600px) {
            display: none !important;
        }
    }

    &:hover {
        cursor: pointer;

        span {
            color: #797EF3;
        }

        .profile-menu-icon {
            color: #797EF3 !important;
        }
    }

    &:active {
        cursor: pointer;

        span {
            font-weight: 800;
            margin-right: -2px;
        }

        .profile-menu-icon {
            font-weight: 800;
        }

        img {
            transform: scale(1.03);
        }
    }
}

.user-name {
    color: black;
    font-size: 32px;
    font-weight: 700;
    max-width: 340px;
    overflow: hidden;
    line-height: 43.65px;
    white-space: nowrap;
    text-overflow: ellipsis;
    transition: color 140ms ease;
}

button {
    border: none;
    background-color: transparent;
    font-size: 24px !important;
    font-weight: 600 !important;
    line-height: 32.74px !important;
    width: 100%;
    border-radius: 100px;
    transition: transform 140ms ease, background-color 140ms ease, color 140ms ease !important;
    padding: 0 !important;

    &:hover {
        cursor: pointer;
        transform: scale(1.03);
        background-color: #ECEEFE;
        color: #444DF2;
    }
}

.log-out-btn {
    border: none;
    background-color: transparent;
    font-size: 24px !important;
    font-weight: 600 !important;
    line-height: 32.74px !important;
    width: 100%;
    border-radius: 100px;
    transition: background-color 140ms ease, color 140ms ease !important;

    &:hover {
        background-color: #444DF2;
        color: #ECEEFE;
    }
}

a {
    width: 100%;
    color: black;
}

a,
button,
mat-icon {
    pointer-events: auto !important;
}

@keyframes openProfileMenu {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes openProfileMenuHeight {
    0% {
        max-height: 255px;
    }

    100% {
        max-height: 540px;
    }
}

@keyframes openProfileMenuWidth {
    0% {
        max-width: 205px;
    }

    100% {
        max-width: 440px;
    }
}

@keyframes closeProfileMenu {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes closeProfileMenuHeight {
    0% {
        max-height: 540px;
    }

    100% {
        max-height: 255px;
    }
}

@keyframes closeProfileMenuWidth {
    0% {
        max-width: 440px;
    }

    100% {
        max-width: 205px;
    }
}

.profile-menu-contain {
    display: flex;
    flex-direction: column;
    gap: 38px;
    width: 100vw;
    height: 100vh;
    max-width: 205px;
    max-height: 239px;
    padding: 15px 10px 15px 10px;
    opacity: 0;
    overflow: hidden;

    img {
        width: 200px;
        height: 200px;
    }
}

.open {
    animation: openProfileMenu 230ms ease-in-out forwards, openProfileMenuWidth 130ms ease-in-out forwards, openProfileMenuHeight 150ms ease-in-out forwards;
}

.close {
    animation: closeProfileMenu 130ms ease-in-out forwards, closeProfileMenuWidth 130ms ease-in-out forwards, closeProfileMenuHeight 150ms ease-in-out forwards;
}

.profile-menu-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    span {
        font-size: 24px;
        font-weight: 700;
        color: black;
    }
}

.status-contain {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 30px;

    div {
        display: flex;
        gap: 15px;
    }

    &:hover {

        .change-status-icon {
            border: none;
            background-color: transparent;
            font-weight: 600;
            margin-right: -1px;
            color: black;
        }
    }
}

.status-info {
    pointer-events: auto !important;
    cursor: pointer;
}

.name-and-edit {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.edit-user {
    font-size: 18px;
    font-weight: 600;
    color: #535AF1;
    pointer-events: auto;

    &:hover {
        font-weight: 700;
        margin-right: -1px;
        cursor: pointer;
    }
}

.change-status-icon {
    width: max-content !important;
    height: max-content !important;
    border: none !important;
    background-color: transparent !important;
    font-size: 24px !important;

    &:hover {
        border: none;
        background-color: transparent;
        font-weight: 600;
        margin-right: -1px;
        color: black;
    }
}

.change-status-close-icon {
    width: max-content !important;
    height: max-content !important;
    border: none !important;
    background-color: transparent !important;
    font-size: 23px !important;

    &:hover {
        border: none;
        background-color: transparent;
        font-weight: 600;
        margin-right: -1px;
        color: black;
    }
}

.status-undermenu {
    span {
        pointer-events: auto !important;
        transition: transform 120ms ease-in-out !important;

        &:hover {
            cursor: pointer;
            transform: scale(1.07);
        }
    }
}

.email-icon {
    font-size: 30px !important;
    pointer-events: none !important;
}

.email-menu-contain {
    display: flex;
    gap: 20px;

    .email-wrapper {
        display: flex;
        align-items: start;
        margin-top: -8px;
    }

    div {
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 15px;

        .email-title {
            font-size: 20px;
            font-weight: 700;
            color: black;
        }

        .user-email {
            font-size: 18px;
            font-weight: 500;
            color: #1381FF;
        }
    }
}


.search-results-contain {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 100px;
    box-sizing: border-box;
    padding: 20px;
    width: 90%;
    background-color: white;
    color: black;
    z-index: 999999;
    border: 2px solid #444DF2;
    border-radius: 30px;
    max-height: 350px;
    overflow-y: scroll;
    scrollbar-width: none;

    @media(max-width:1249px) {
        top: 183px;
        transform: none;
        left: 21px;
        width: 600px;
    }

    @media(max-width:1020px) {
        top: 182px;
        left: 50%;
        width: 90%;
        transform: translateX(-50%);
    }

    @media(max-width:460px) {
        top: 150px;
        width: 96%;
    }
}

::ng-deep .cdk-overlay-connected-position-bounding-box {
    right: 20px !important;
}

app-menu {

    @media(max-width:460px) {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100vw;
    }
}

.openMobileMenu {
    animation: openMobileMenu 0.15s ease-out forwards;
}

.closeMobileMenu {
    animation: closeMobileMenu 0.15s ease-out forwards;
}

@keyframes openMobileMenu {
    0% {
        transform: translateY(100%);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes closeMobileMenu {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(100%);
    }
}