<div>
    <div class="tab-header">
        <div (click)="this.channelAnimationService.toggleChannels()" class="arrow-tab-title-contain">
            <div>
                <mat-icon id="channelIcon" class="drop-down-icon" fontIcon="arrow_right"></mat-icon>
            </div>
            <div class="channels-title-contain">
                <mat-icon class="tab-icon" fontIcon="workspaces"></mat-icon>
                <span>Channels</span>
            </div>
        </div>
        <div>
            <mat-icon (click)="openDialog()" class="add-channel-icon" fontIcon="add"></mat-icon>
        </div>
    </div>
</div>
<div class="btns-contain max-height-contain"
    [ngStyle]="{'max-height': this.channelAnimationService.isChannelOpen ? getChannelsMaxHeight() + 'px' : '0','transition': getChannelsTransitionDuration()}">
    <button *ngFor="let channel of channelList; let i = index" (click)="focusChannel(channel)"
        [ngStyle]="{'animation-delay': getAnimationDelayChannel(i) + 's'}" [ngClass]="{
            'focus-btn': channel.isFocus || channel.channelID === channelAnimationService.focusedChannelId,
            'blob-in': this.channelAnimationService.isChannelOpen, 
            'blob-out': !this.channelAnimationService.isChannelOpen
            }">
        <mat-icon fontIcon="tag"></mat-icon>
        <span>{{ channel.title }}</span>
        <span *ngIf="getDuplicateChannelsNumber(channel)" style="margin-left: -5px;">
            ({{ getDuplicateChannelsNumber(channel) }})
        </span>
    </button>
    <button (click)="openDialog()" class="add-channel-btn"
        [ngStyle]="{'animation-delay': getAnimationDelayAddChannel() + 's'}"
        [ngClass]="{'blob-in': this.channelAnimationService.isChannelOpen, 'blob-out': !this.channelAnimationService.isChannelOpen}">
        <mat-icon class="add-channel-icon" fontIcon="maps_ugc"></mat-icon>Channel hinzufügen
    </button>
</div>