<section>
    <app-logo></app-logo>
    <mat-card appearance="outlined">
        <div>
            <mat-icon fontIcon="arrow_back" [routerLink]="['..']"></mat-icon>
        </div>
        <mat-card-content>
            <div class="imprint-contain">
                <h1>Impressum</h1>
                <div class="imprint-info">
                    <p>Ivan Paul <br />
                        Hauptstraße 30 <br />
                        4222 Langenstein
                    </p>
                    <p>Albin Schmid <br />
                        Oberried 60 <br />
                        6444 Längenfeld
                    </p>
                    <p>René Theis <br />
                        Forstweg 23b <br />
                        28850 Norderstedt
                    </p>
                </div>
            </div>
            <div class="contact-contain">
                <h2>Contact:</h2>
                <a href="mailto:info&#64;paul-ivan.com">Email: info&#64;paul-ivan.com</a>
                <a href="mailto:schmidalbin15&#64;gmail.com">Email: schmidalbin15&#64;gmail.com</a>
                <a href="mailto:contact&#64;rene-theis.de">Email: contact&#64;rene-theis.de</a>
            </div>
        </mat-card-content>
    </mat-card>
</section>